
body, canvas {
    padding: 0;
    margin: 0;
}

#ui { position: relative; }

.uiScreen {
	background: white;
	color: black;
	position: absolute;
}

#ui {
	font-family: 'Rubik', sans;
	font-size: 10pt;
}

#ui pre {
	font-family: 'Inconsolata', serif;
}

#ui .ui {
	visibility: hidden;
}

#ui .ui.uiVisible {
	visibility: visible;
}

#ui .uiHidden {
	visibility: hidden;
}

#ui .ui.uiSidebar {
	background: transparent;
}

#ui .ui#ui_left {
	float: left;
	position: fixed;
	left: 0;
    overflow-y: auto;
    max-height: 100vh;
}

#ui .ui#ui_right {
	float: right;
	position: fixed;
	right: 0;
}

#ui .panelArea {
	margin: 10px;
	background: white;
	overflow: auto;
}

#ui .uiSidebar ol {
	padding: 0 0 0 1.5em;
	margin: 1em;
	overflow: auto;
}

#ui h1,
#ui h2,
#ui h3,
#ui h4,
#ui h5,
#ui h6,
#ui h7 {
	font-family: 'Chewy', sans;
	background: #990000;
	padding: 0.5em;
	margin: 0;
	color: white;
	font-weight: 100;
}

#ui h1 {
	font-size: 18pt;
}

#ui h2 {
	font-size: 12pt;
}

#ui .loadingScreen {

}

#ui_dead .radioButtons label {
	float: left;
	width: 80px;
	margin: 4px;
	background: #EFEFEF;
	border-radius: 1px;
	border: 1px solid #d0d0d0;
	overflow: auto;
}

#ui_dead .radioButtons .emoteBtn input + span {
	background: #FFF673;
	border-color: #FFE373;
}

#ui_dead .radioButtons .emoteBtn input:checked + span {
	border-color: #30210C;
    background-color: #59380A;
    color: #F7F7F7;
}

#ui_dead .radioButtons .levelBtn {
	margin: 0;
	width: 100%;
	margin: 0.2em 0 0 0;
	/* box-sizing: border-box; */
	/* display: block; */
}

#ui_dead .radioButtons .levelBtn > span {
	font-size: 10pt;
	padding: 0.25em;
}

div.center {
	text-align: center;
}

#ui form {
	padding: 1em;
}

#ui .fieldset {
	background: #eee;
	border: 0;
	margin: 0.5em 0 1em 0;
	padding: 0.5em;
	border-radius: 8px;
	min-width: 0;
	overflow: auto;
	box-sizing: border-box;
}

#ui_dead .fieldset .legend {
}

#ui_dead .radioButtons label > span {
	text-align: center;
	font-size: 32pt;
	padding: 13px 0px;
	display: block;
}

#ui_dead .radioButtons input {
	display: none;
}

#ui_dead .radioButtons input:checked + span {
    background-color: #404040;
    color: #F7F7F7;
}

#ui .labelAbove {
	margin: 1em;
	text-align: center;
	display: block;
}

#ui .bigButton {
	border: 0;
	background: #A3D900;
	color: #fff;

	font-family: 'Chewy';

	display: inline-block;
	font-size: 18pt;
	padding: 0.5em;
	border-radius: 1px;
}

#ui .loadingScreen {
	font-size: 36pt;
	text-align: center;
	width: 5em;
	padding: 1em;
	background: #0055DD;
	font-family: 'Chewy', sans;
	color: #fff;
}

#ui .loadingScreen .spinner {
	background-color: #fff;
}

.spinner {
	background-color: #ccc;

	width: 40px;
	height: 40px;
	margin: 50px auto;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

#ui .panelArea.toolbar {
	background: transparent;
}

#ui .sidebarWidth {
	width: 250px;
}

#ui .toolbarIcon {
	display: block;
	width: 80px;
	height: 80px;
	background: #007700;
	color: #fff;
	font-size: 50px;

	text-align: center;
	cursor: pointer;
}

#ui .toolbarIcon span {
	display: inline-block;
	vertical-align: middle;
}

#ui .toolbarIcon.disabled {
	background: #990000;
}

#ui #commitArea {
	overflow: hidden;
}

/* Icon helpers */

.icnTick:after {
	font-size: 24pt;
	color: green;
	content: '\2714';
}

.icnTickWhite:after {
	font-size: 18pt;
	color: green;
	content: '\2705';
}

.repoUserName {
	padding: 0;
	color: #999;
}

#authorImg {
	width: 100px;
	height: 100px;
	float: right;
}

#author {
	min-height: 80px;
}

.commitContent pre {
	overflow: auto;
}

#ui #commitArea .commitContent {
	padding: 10px;
}

/* Responsive stuff */

@media screen and (min-width: 1200px) {
	#ui .sidebarWidth {
		width: 300px;
	}

	#ui {
		font-size: 14pt !important;
	}

	#ui h1 {
		font-size: 24pt;
	}

	#ui h2 {
		font-size: 18pt;
	}

	#ui_dead .radioButtons .levelBtn > span {
		font-size: 14pt;
	}

	#ui_dead .radioButtons label > span {
		font-size: 32pt;
	}

	#ui .bigButton {
		font-size: 24pt;
	}
}

/* SpinnerKit */

@-webkit-keyframes sk-rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	} 50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	} 100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}
